// SPDX-License-Identifier: GPL-2.0
#include "qcom-msm8974-sony-xperia-rhine.dtsi"

/ {
	model = "Sony Xperia Z Ultra";
	compatible = "sony,xperia-togari", "qcom,msm8974";
	chassis-type = "handset";
};
